{% extends "admins/index.html" %}

{% block admin_content %}
<div class="container-fluid">
    <h2 class="text-center text-muted">Admin Dashboard</h2>
    <div class="row s-flex">
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2">
            <div class="card-body">
              <div class="roe align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-center text-primary fw-bold"
                  >
                    <span>Total Orders</span>
                  </div>
                  <div class="text-success text-center fw-bold">
                    <span>Delivered: 0</span>
                  </div>
                  <div class="text-center">
                    <i
                      class="fab fa-first-order-alt text-success fs-1 fa-spin"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2 bg-warning">
            <div class="card-body">
              <div class="roe align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-center text-primary fw-bold"
                  >
                    <span>Total Users</span>
                  </div>
                  <div class="text-success text-center fw-bold">
                    <span>Delivered: 0</span>
                  </div>
                  <div class="text-center">
                    <i class="far fa-users fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2 bg-danger">
            <div class="card-body">
              <div class="roe align-items-center no-gutters">
                <div class="col me-2">
                  <div class="text-uppercase text-center text-white fw-bold">
                    <span>Total Categories</span>
                  </div>
                  <div class="text-success text-white fw-bold text-center">
                    <span>Delivered: 0</span>
                  </div>
                  <div class="text-center">
                    <i class="fas fa-window-restore fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2">
            <div class="card-body">
              <div class="roe align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-center text-primary fw-bold"
                  >
                    <span>Total Profit</span>
                  </div>
                  <div class="text-success text-center fw-bold">
                    <span>R.S: 0</span>
                  </div>
                  <div class="text-center">
                    <i class="fad fa-sack-dollar fs-1 text-success"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2 bg-danger">
            <div class="card-body">
              <div class="roe align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-center text-primary fw-bold"
                  >
                    <span>Total Stock</span>
                  </div>
                  <div class="text-success text-center fw-bold">
                    <span>Available: 0</span>
                  </div>
                  <div class="text-center">
                    <i class="fad fa-warehouse-alt text-success fs-1"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="text-decoration-none">
          <div class="card shadow-lg border-0 py-2 bg-warning">
            <div class="card-body">
              <div class="roe align-items-center no-gutters">
                <div class="col me-2">
                  <div
                    class="text-uppercase text-center text-primary fw-bold"
                  >
                    <span>Total Employee</span>
                  </div>
                  <div class="text-success text-center fw-bold">
                    <span>Number: 100</span>
                  </div>
                  <div class="text-center">
                    <i class="fad fa-user-tie text-success fs-1"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


{% endblock admin_content %}