<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {{section.title}}
    {% endblock title %}
    {%load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
          <div class="m-3">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
            >
              Menu
            </button>
  
            <div
              class="offcanvas offcanvas-end bg-dark text-white"
              tabindex="-1"
              id="offcanvasRight"
              aria-labelledby="offcanvasRightLabel"
            >
              <div class="offcanvas-header d-flex justify-content-between">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">
                  Offcanvas right
                </h5>
                <button
                  type="button"
                  class="bg-dark text-white border-0 fs-1"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                >
                  &times;
                </button>
              </div>
              <div class="offcanvas-body">
                <ul class="list-unstyled d-flex flex-sm-column">
                
                  <li class= "fab fa-product-hunt py-2">
                    <a href="{% url 'productlist'%}" class="text-decoration-none text-white"> &nbsp;Products</a
                    >
                  </li>
                  <li class= "fab fa-product-hunt py-2">
                    <a href="{% url 'addproduct'%}" class="text-decoration-none text-white">&nbsp;Add Products</a
                    >
                  </li>
                  <li class = "fas fa-plus-square py-2">
                    <a href="{% url 'categorylist'%}" class="text-decoration-none text-white">&nbsp;Category</a>
                  </li>

                  <li class = " fas fa-plus-square py-2">
                    <a href="{% url 'addcategory' %}" class="text-decoration-none text-white">&nbsp;Add Category</a>
                  </li>
                </ul>
              </div>
              <div class="offcanvas-body">
                <div class="profile-image">
                  <img
                    src="{% static 'img/pp.jpg' %}"
                    alt="userprofile"
                    class="img-fluid rounded-circle"
                    style="height: 100px; width: 100px"
                  />
                </div>
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="text-decoration-none text-white">
                      <strong>Name:</strong>Admin
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-decoration-none text-white">
                      <strong>Email:</strong>admin@gmail.com
                    </a>
                  </li>
                  <li><a href="{% url 'logout'%}" class="btn btn-outline-danger">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% block admin_content %}
      {% endblock admin_content %}


      
      
      
  





          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>