 
 {% extends 'layout.html' %}
 {% load static %}
 {% load crispy_forms_tags %}
 {% block title %}
 <title> Ecommerce | MyCart </title>
 {% endblock %}

 
{% comment %} yaha chai show_product vaneko variable ho jsle context vitra ko key value pair ma product vanne key lai samatxa ra conntext  ma vako sabai element access garxa {% endcomment %}

{% block main_content %}
<div class ="container mb-5 mt-2">
    <div class= "d-flex row justify-content-center">
   <div class= "col-md-10">
    {% for msg in messages %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">
        {{msg}}
    </div>
    {% endif %}

    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger">
        {{msg}}
    </div>

    {% endif %}

    {% endfor %}
    
   <h1 class= "text-success text-center">My Cart</h1>
 <table class= "table table-bordered">
    <tr class="table-dark">
        <th>Product Name </th>
        <th>Product Price </th>
        <th>Quantity </th>
        <th>Image </th>
        <th>Description</th>
        <th>Category</th>
        <th>Created At</th>
        <th> Action </th>
        </tr>
        
        {% for i in items %}
    
    <tr>
        <td>{{i.product.product_name}} </td>
        <td>{{i.product.product_price}} </td>
        <td>{{i.product.quantity}} </td>
        <td>
            <img src= "/{{i.product.image}}" alt="{{i.product.product_name}}" width="200px">
        </td>
        <td>{{i.product.description}} </td>
        <td>{{i.product.category}} </td>
        
        <th>
            <a href = "{% url 'order' i.product.id i.id%}" class = "text-info">
               Order Now</a>
            &nbsp;
                <a href="{% url 'deletecart' i.id %}" onclick = "return alert('Are you sure want to delete?')">
                <i class="bi bi-trash-fill text-danger fs-2"></i>   
            </a>
        </th>
    </tr>

        {% endfor %}
    
    
 </table>
</div>
</div>
</div>

{% endblock %}

{% comment %} note yaha extend vanne line of code le layout ko content lai add gareko xa mathy list ra tespaxi main content ma chai yo index ko content rakheko xa  {% endcomment %}
