


{% extends 'layout.html'%}
{% load crispy_forms_tags %}
{%block title%}
<title>Ecommerce | Register </title>
{% endblock%}
{% block main_content %}
<div class ="container mb-5 mt-2">
    <div class= "d-flex row justify-content-center">
   <div class= "col-md-8">
      {% for msg in messages%}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success">
        {{msg}}
    </div>

    {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <div class="alert alert-danger">
        {{msg}}
    </div>

    {% endif%}

    {% endfor %}
   <h1 class= "text-success text-center">User Registration Form</h1>
    <form action = "" method= "POST" class= "shadow-lg p-3" >
      {% comment %} enctype= "multipart/form-data yo garena vane product form ma image halda pani this field is required dekhauxa so    {% endcomment %}
      {% csrf_token %}

         {{ form | crispy }}

         <div class= "mb-2">
            <input type = "submit" value = "Register here" class= "btn btn-primary">
         </div>
   </form>
</div>
</div>
</div>
{% endblock%}

